body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #020617;
  color: white;
}

/* LAYOUT */
.app {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 320px;
  height: 100vh;
  padding: 15px;
  background: #020617;
  border-right: 1px solid #1e293b;
  overflow-y: auto;
}

.nav a {
  display: block;
  margin-bottom: 5px;
  color: #22c55e;
  text-decoration: none;
}

#search {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  background: #1e293b;
  color: white;
}

/* BUTTON */
#addBtn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* CARD */
.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card:hover {
  border-color: #22c55e;
}

/* MAP */
#map {
  position: absolute;
  top: 10px;
  left: 330px;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

/* POPUP FORM */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #020617;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #1e293b;
}

.hidden {
  display: none;
}

/* PMU CARD */
.pmu-card {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 320px;
  border-radius: 20px;
  background: #020617;
  border: 1px solid #1e293b;
  overflow: hidden;
}

.pmu-header {
  background: #22c55e;
  padding: 15px;
  color: black;
}

.pmu-body {
  padding: 15px;
}

/* CENTER (auth/profile) */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}