body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #020617;
  color: white;
}

.app {
  display: flex;
}

.sidebar {
  width: 320px;
  height: 100vh;
  padding: 15px;
  background: #020617;
  border-right: 1px solid #1e293b;
  overflow-y: auto;
}

#search {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
}

#addBtn {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#map {
  position: absolute;
  top: 10px;
  left: 330px;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.form-card {
  background: #020617;
  padding: 25px;
  border-radius: 20px;
  width: 320px;
  border: 1px solid #1e293b;
}

.form-card input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  background: #1e293b;
  color: white;
}

.progress {
  height: 6px;
  background: #1e293b;
  border-radius: 10px;
  margin-bottom: 15px;
}

#progressBar {
  height: 100%;
  width: 25%;
  background: #22c55e;
  transition: 0.3s;
}

.step-nav {
  display: flex;
  justify-content: space-between;
}

.step-nav button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#nextBtn {
  background: #22c55e;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hidden {
  display: none;
}

.pmu-card {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 300px;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 15px;
  overflow: hidden;
}

.pmu-header {
  background: #22c55e;
  padding: 10px;
  color: black;
}

.pmu-body {
  padding: 10px;
}
